bin/
dedicatedserver_readme.txt
hl2/
hlds_steamgames.vdf
l4d2-devkit.sh
left4dead2.dat
left4dead2.exe
left4dead2.ico
left4dead2/addons/readme.txt
left4dead2/bin/
left4dead2/cfg/360controller.cfg
left4dead2/cfg/addonconfig.cfg
left4dead2/cfg/config_default.cfg
left4dead2/cfg/cpu_level_0_pc.ekv
left4dead2/cfg/cpu_level_0_pc_ss.ekv
left4dead2/cfg/cpu_level_1_pc.ekv
left4dead2/cfg/cpu_level_1_pc_ss.ekv
left4dead2/cfg/cpu_level_2_pc.ekv
left4dead2/cfg/cpu_level_2_pc_ss.ekv
left4dead2/cfg/gpu_level_0_pc.ekv
left4dead2/cfg/gpu_level_1_pc.ekv
left4dead2/cfg/gpu_level_2_pc.ekv
left4dead2/cfg/gpu_level_3_pc.ekv
left4dead2/cfg/gpu_mem_level_0_pc.ekv
left4dead2/cfg/gpu_mem_level_1_pc.ekv
left4dead2/cfg/gpu_mem_level_2_pc.ekv
left4dead2/cfg/joy_preset_1.cfg
left4dead2/cfg/joy_preset_2.cfg
left4dead2/cfg/joy_preset_3.cfg
left4dead2/cfg/joy_preset_4.cfg
left4dead2/cfg/listenserver.cfg
left4dead2/cfg/listenserver360.cfg
left4dead2/cfg/lowend.cfg
left4dead2/cfg/mem_level_0_pc.ekv
left4dead2/cfg/mem_level_1_pc.ekv
left4dead2/cfg/mem_level_2_pc.ekv
left4dead2/cfg/moddefaults.txt
left4dead2/cfg/moddefaults_mac.txt
left4dead2/cfg/modsettings.cfg
left4dead2/cfg/perf.cfg
left4dead2/cfg/screenshots.cfg
left4dead2/cfg/screenshots_undo.cfg
left4dead2/cfg/settings_default.scr
left4dead2/cfg/skill1.cfg
left4dead2/cfg/splitscreen_off.cfg
left4dead2/cfg/splitscreen_on.cfg
left4dead2/cfg/test_end.cfg
left4dead2/cfg/test_start.cfg
left4dead2/cfg/undo360controller.cfg
left4dead2/cfg/user_default.scr
left4dead2/cfg/valve.rc
left4dead2/dxsupport_override.cfg
left4dead2/expressions/
left4dead2/gameinfo.txt
left4dead2/gfx/
left4dead2/glbaseshaders.cfg
left4dead2/host.txt
left4dead2/lights.rad
left4dead2/mapcycle.txt
left4dead2/maplist.txt
left4dead2/maps/
left4dead2/materials/
left4dead2/media/
left4dead2/missioncycle.txt
left4dead2/models/
left4dead2/modelsounds.cache
left4dead2/motd.txt
left4dead2/pak01_000.vpk
left4dead2/pak01_001.vpk
left4dead2/pak01_002.vpk
left4dead2/pak01_003.vpk
left4dead2/pak01_004.vpk
left4dead2/pak01_005.vpk
left4dead2/pak01_006.vpk
left4dead2/pak01_007.vpk
left4dead2/pak01_008.vpk
left4dead2/pak01_009.vpk
left4dead2/pak01_010.vpk
left4dead2/pak01_011.vpk
left4dead2/pak01_012.vpk
left4dead2/pak01_013.vpk
left4dead2/pak01_014.vpk
left4dead2/pak01_dir.vpk
left4dead2/program_cache.cfg
left4dead2/reslists/
left4dead2/resource/
left4dead2/scene.cache
left4dead2/scenes/
left4dead2/scripts/
left4dead2/shader_cache.cfg
left4dead2/steam.inf
left4dead2/whitelist.cfg
left4dead2_dlc1/
left4dead2_dlc2/
left4dead2_dlc3/
left4dead2_lv/
platform/
srcds.exe
statu.txt
steamapps/
update/
steam_appid.txt
left4dead2/addons/*.vpk
left4dead2/addonlist.txt
left4dead2/addons/sourcemod/data/
left4dead2/addons/sourcemod/logs/
left4dead2/cfg/sourcemod/basevotes.cfg
left4dead2/cfg/sourcemod/funcommands.cfg
left4dead2/cfg/sourcemod/funvotes.cfg
left4dead2/downloads/
left4dead2/cfg/sourcemod/l4d2_incapped_crawling.cfg
left4dead2/stats.txt
